.card {
  position: relative;
  width: 160px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 6px 8px 16px rgba(0, 0, 0, 0.25);

  &.hovered {
    transform: scale(1.04);
    transition: transform 0.3s ease;
  }
}

.country {
  position: absolute;
  right: -10px;
  top: -10px;
  color: white;
  padding: 8px;
  background: #c3bd87;
  border-radius: 50%;
  font-weight: 500;
}

.cardImg {
  width: 100%;
  height: 100%;
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding-bottom: 10px;
}

.cardTitle {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #000;
}
